@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  color: #000;
  width: 100%;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 35%;
  width: 12%;
  text-align: center;
}

.navbar-wrapper a {
  background-color: rgba(171, 196, 255, 0.5);
  margin: 1rem 0;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 1rem;
  font-weight: 900;
}

.landing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.landing-container-image img {
  height: auto;
  width: 100%;
}

.landing-container-text {
  font-size: 1.5rem;
  background-color: #abc4ff;
  margin-left: -80px;
}

.landing-container-text h1 {
  padding: 1rem;
  color: #000;
}

.landing-logo {
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 15vh;
}

.landing-logo h1 {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: #000;
  font-weight: 400;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text {
  margin-left: 10rem;
  line-height: 1.7rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.about-image img {
  width: 100%;
}

.services-wrapper {
  padding: 1rem;
}

.services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 5rem 10rem;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
}

.services-item h1 {
  padding: 10px;
  font-size: 1.5rem;
}

.services-item p {
  padding: 10px;
}

.services-insert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-insert img {
  max-height: 100%;
}

.contact-wrapper {
  padding: 1rem 2rem;
  height: 15rem;
}

.contact-wrapper h1 {
  font-size: 3rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container p {
  font-size: 1.5rem;
}

.contact-column {
  padding: 1rem;
}
