@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #000;
  width: 100%;
}

body {
  background: #cae5ff;
}

.landing,
.services,
.about,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-brand {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.navbar-brand img {
  width: 60%;
}

.landing {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-img img {
  border-radius: 300px 0px 500px 100px;
  max-width: 50%;
}

.landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-text h1 {
  padding-left: 4rem;
  margin-left: -10rem;
  font-size: 2rem;
  color: #1e2020;
  padding-bottom: 2rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #89BBFE;
  text-decoration: none;
  width: 30%;
  height: 50px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all 140ms ease-in-out;
  transition: all 140ms ease-in-out;
  font-weight: 400;
}

.btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
  color: #383232;
  font-weight: 700;
}

.about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem;
}

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-img img {
  border-radius: 500px 0px 300px 100px;
  max-width: 70%;
}

.about-text h3 {
  font-weight: 400;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 1rem;
  border-radius: 20px;
  height: auto;
  background-color: #89BBFE;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 19px 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 19px 10px;
}

.card-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.card img {
  width: 100%;
}

.contact {
  padding: 4rem 2rem;
  font-size: 1.5rem;
}

.cont {
  padding: 2rem;
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2rem;
  }
  .navbar-brand img {
    width: 90%;
  }
  .landing {
    height: 60vh;
  }
  .landing .hide-mobile {
    display: none;
  }
  .landing-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-img img {
    border-radius: 300px 0px 500px 100px;
    max-width: 50%;
  }
  .landing-text {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-text h1 {
    padding-left: 0rem;
    margin-left: 0rem;
    font-size: 2rem;
    color: #1e2020;
    padding-bottom: 2rem;
  }
  .btn {
    width: 50%;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0rem 2rem;
  }
  .about-img {
    padding: 2rem;
  }
  .about-img img {
    border-radius: 100px 0px 200px 100px;
    max-width: 80%;
  }
  .about-text h3 {
    font-weight: 500;
  }
  .services {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
  }
  .contact {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .cont {
    padding-left: 1rem;
  }
}
